<!DOCTYPE html>
<html>
    <head>
        <title>Team</title>

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/teams/detail.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should be here -->
        <div class="container">
            <p class="back"><a href="/">Back to home page</a></p>
            <h1 class="team-name"></h1>
            <section>
                <p class="team-description"></p>
            </section>
            <section>
                <table class="team-pokemon">
                    <tr><th colspan="2">Pokemon</th><th>Level</th><th>Type</th></tr>
                </table>
            </section>
        </div>
        <!-- Your HTML should end here -->
        <script type="text/javascript" src="/static/js/teams/detail.js"></script>
    </body>
</html>