<!DOCTYPE html>
<html>
    <head>
        <title>Team</title>

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/teams/edit.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should be here -->


        
        <!-- Your HTML should end here -->
        <script type="text/javascript" src="/static/js/teams/edit.js"></script>
    </body>
</html>