<!DOCTYPE html>
<html>
    <head>
        <title>Team</title>

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/teams/edit.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should be here -->
        <div class="container">
            <a class="js-back" href="">Back to team page</a>

            <form class="edit-form" id="js-team-edits">
                <input type="hidden" class="js-hidden-team-id" name="id" value="">
                <label for="team-name" class="form-label">Team Name</label>
                <input type="text" id="teamName" class="js-team-name-input team-name-input input" name="name">
                <label for="team-description" class="form-label">Description</label>
                <textarea id="team-description" class="js-team-description-input team-description-input input" name="description" rows="10"></textarea>
            </form>
            <table class="js-teams-pokemon">
                <tr><th colspan="2">Pokemon</th><th>Level</th><th>Type</th><th>Remove</th></tr>
            </table>
            <button type="button" id="submit" form="js-team-edits" class="js-submit">Submit</button>
        </div>

        

        
        <!-- Your HTML should end here -->
        <script type="text/javascript" src="/static/js/teams/edit.js"></script>
    </body>
</html>