* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Your styles begin here */

.container {
    max-width: 800px;
    margin: 50px auto;
}

.navigation {
    margin-bottom: 15px;
}

fieldset {
    border: none;
    margin-bottom: 10px;
}

fieldset p {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type=text], input[type=submit], textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: none;
}

textarea {
    min-width: 500px;
    min-height: 200px;
}

input[type=submit] {
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
}

input[type=submit]:hover {
    background-color: #c0c0c0;
}