.autocomplete {
    display: none;
    margin-top: -20px;
    border: 1px solid lightgray;
    width: 400px;
    padding: 10px;
}

.autocomplete-entry {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 0;
    cursor: pointer;
}

.autocomplete-entry:hover, .autocomplete-entry:focus {
    background-color: lightslategray;
    color: white;
}

.autocomplete div:first-of-type {
    margin-top: 2px;
}

.autocomplete div:last-of-type {
    margin-bottom: 2px;
}

.id-tag {
    font-style: italic;
    font-size: .8rem;
    margin-right: 10px;
}

.teams-pokemon {
    display: none;
}

.error {
    display: none;
    font-size: inherit;
    color: maroon;
}