<!DOCTYPE html> <!-- All HTML files should start with this DOCTYPE tag-->
<html>
    <head>
        <title>Pokedex - New</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/global.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/new.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should start here -->
        <div class="header-row">
            <div class="header">
                <img src="{{ url_for('static', filename='favicon.ico') }}">
                <div>
                    <h1>Pokedex</h1>
                    <h2>Create a team</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navigation">
                <a class="js-back" href="/">Back home</a>
            </div>
            <form class="poke-form" autocomplete="off" id="js-new-team">
                <label for="team-name" class="form-label">Team name</label>
                <p class="js-name-error error">You must enter a team name.</p>
                <input type="text" id="team-name" class="js-team-name-input single-line-input input" name="name">
                <label for="team-description" class="form-label">Description</label>
                <p class="js-description-error error">You must enter a team description.</p>
                <textarea id="team-description" class="js-team-description-input team-description-input input" name="description" rows="10"></textarea>
                <label for="js-pokemon-search" class="form-label">Select your Pokemon:</label>
                <p class="js-pokemon-error error">You must choose at least two pokemon.</p>
                <input type="search" id="js-pokemon-search" class="js-pokemon-search input single-line-input" placeholder="ex. Bulbasaur, Oddish...">
                <div class="autocomplete"></div>
            </form>
            <table class="js-teams-pokemon teams-pokemon">
                <tr><th colspan="2">Pokemon</th><th>Level</th><th>Type</th><th>Remove</th></tr>
            </table>
            <button type="button" id="submit" form="js-new-team" class="js-submit">Submit</button>
        </div>

        <!-- Your HTML should end here -->
        <!-- Custom JavaScript is typically located at the BOTTOM right before the closing </body> tag -->
        <script type="text/javascript" src="/static/js/new.js"></script>
    </body>
</html>